<header class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!--<%= link_to "sample app", '#', id: "logo" %>-->
      <nav>
        <div id="navbar-logo">
          <%= image_tag("9-point-logo.png", alt: "Logo", size: "40x40") %>
        </div>
        <div id="navbar-title">
          Gestor de Devocionales Bah&aacute;'&iacute;s
        </div>
        <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li><%= link_to "Home",    '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Help",    '#' %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Sign in", '#' %></li>
          <li class="divider-vertical"></li>
        </ul>
      </nav>
    </div>
  </div>
</header>