<header >
  <!--<nav class=" navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!--<%= link_to "sample app", '#', id: "logo" %>-->
        <!--<nav>
          <div id="navbar-logo">
            <%= image_tag("9-point-logo.png", alt: "Logo", size: "40x40") %>
          </div>
          <div id="navbar-title">
            Gestor de Devocionales Bah&aacute;'&iacute;s
          </div>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><%= link_to "Home",    '#' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Help",    '#' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign in", '#' %></li>
            <li class="divider-vertical"></li>
          </ul>
        </nav>
      </div>
    </div>
  </nav>-->
  <nav class="navbar navbar-inverse" role="navigation">

    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html">Base Admin 3.0</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="">           
          <a href="./signup.html">
            Create an Account
          </a>      
        </li>

        <li class="">
                
          <a href="#">
            <i class="icon-chevron-left"></i>&nbsp;&nbsp; 
            Back to Homepage
          </a>
          
        </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div> <!-- /.container -->
  </nav>

</header>