<!DOCTYPE html>
<html>
<head>
  <title><%= title_helper(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "base-admin-3" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'common/users_nav' %>
  <div class="main">
    <div class="container">
    <!--<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>-->
    
      <%= yield %>
    </div>
  </div>

</body>
</html>
