<!DOCTYPE html>
<html>
<head>
  <title>GDB - Gestor de Devocionales Bah&aacute;'&iacute;s - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div class="container">
    <%= yield %>
  </div>

</body>
<script src="./js/libs/jquery-1.9.1.min.js"></script>
<script src="./js/libs/jquery-ui-1.10.0.custom.min.js"></script>
<script src="./js/libs/bootstrap.min.js"></script>
<script src="./js/Application.js"></script>
<script src="./js/demo/signin.js"></script>
</html>
